NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=AIzaSyARGWbMOdRsYzX3uHHwetNQ4g2IJFHv5ps
NEXT_PUBLIC_FIREBASE_API_KEY=AIzaSyARGWbMOdRsYzX3uHHwetNQ4g2IJFHv5ps
NEXT_PUBLIC_FIREBASE_AUTH_DOMAIN=ids-ops.firebaseapp.com
NEXT_PUBLIC_FIREBASE_PROJECT_ID=ids-ops
NEXT_PUBLIC_FIREBASE_STORAGE_BUCKET=ids-ops.firebasestorage.app
NEXT_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=118481425666
NEXT_PUBLIC_FIREBASE_APP_ID=1:118481425666:web:781f292fa80972e03ade1b
NEXT_PUBLIC_FIREBASE_MEASUREMENT_ID=G-KWPK0WYJWB
