@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;
 
    --popover: 224 71% 4%;
    --popover-foreground: 213 31% 91%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 215 28% 17%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 215 28% 17%;
    --muted-foreground: 215 22% 65%;
 
    --accent: 215 28% 17%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --border: 215 28% 17%;
    --input: 215 28% 17%;
    --ring: 210 40% 98%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;
 
    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;
 
    --popover: 224 71% 4%;
    --popover-foreground: 213 31% 91%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 215 28% 17%;
    --secondary-foreground: 210 40% 98%;
 
    --muted: 215 28% 17%;
    --muted-foreground: 215 22% 65%;
 
    --accent: 215 28% 17%;
    --accent-foreground: 210 40% 98%;
 
    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;
 
    --border: 215 28% 17%;
    --input: 215 28% 17%;
    --ring: 210 40% 98%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}